*{
margin:0;
padding:0;
box-sizing: border-box;}
body, html {
   height: 100%;
   margin: 0;
}
body {
font-family:Georgia, serif;
font-weight: bold;
overflow-x: hidden;
max-width: 100%;
}

.coffe-image {
   background-image: url("./css-images/echipa-image.jpg");
   height: 100vh;
   width: 200vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.ham{display: none;}

img.logo{
width:15%;
left:10%;

}

nav{
 width:100%;
  top:-130px;
  position: relative;
   height: 60px;
   position: relative;
     text-align: center;
     letter-spacing: 1px;
justify-content: space-between;
}
ul{
       padding: 0;
       list-style: none;


   }
   ul li{width: 144px;
       display: inline-block;
       position: relative;
       line-height: 21px;
       text-align: left;
       left:80px;

  justify-content: space-around;
   }
   ul li a{
       display: block;
       padding: 10px 15px;
       color: rgb(117, 39, 0);
       text-decoration: none;
       font-size: 150%;

       display: flex;
       justify-content: space-around;
   }
   ul li a:hover{
       color:rgb(117, 39, 0);
     text-decoration: underline;
   }
   ul li ul.sub{
       min-width: 100%;
       background: rgb(255,240,102);
    background: linear-gradient(165deg, rgba(255,240,102,1) 0%, rgba(255,136,0,1) 65%);
    opacity: 85%;
       display: none;
       position: absolute;
       z-index: 999;
       left: 0;
       border-right: none;
     border-left: none;
     border-bottom:1px solid brown;
     border-top: 1px solid brown;

   }
   ul li:hover ul.sub{
       display: block;
       width: 40px;
   }
   ul li ul.sub li{
       display: block;
       left:4px;


   }
   ul li ul.sub a{
      font-size: 100%;
      text-align: center;


   }
h1{ font-size: 2em;
 left: 10px;
 color: rgb(255, 243, 176);
}
h2
{font-size: 3.5em;
left:100px;
color:rgb(117, 39, 0);
z-index:200;
position: relative;
top:-134vh;}
.image{
  display: inline-block;
vertical-align: top;
height: 40px;
width: 40px;
margin-top:-15px;
}

  .text1{
  position: relative;
  column-count: 2;
  column-gap: 30px;
  column-rule: 1px solid white;
  z-index: 500;
  left:1%;
  top: -120vh;
  margin-right: 20px;
  margin-left: 20px;
  height:100%;

}
h3{color:white;
font-size: 2.5vh;
text-indent: 10%;}

.message{
  position: relative;
  background: rgb(110,89,67);
background: linear-gradient(0deg, rgba(110,89,67,1) 31%, rgba(155,127,102,1) 83%);
opacity: 60%;
border-top-left-radius: 10%;
border-top-right-radius: 10%;
z-index:100;
width: 100%;
    height: 63vh;
    top: -63vh;


}
.bean{
  position: relative;
  top:-105vh;
}
img.beans{
  width: 8%;
 padding: 12px;
}
.fp-tableCell {
    display: flex;
}
.row{
align-items:center;
top:128%;
  position: absolute;
}
.column {
  float:left;
  width: 25%;
  padding: 5px;
}
.section #section2{
  height:200vh;
}
#map {
  height: 400px;
  width: 100%;

}
table{width: 120%;
  position: relative;
  left:30%;
  float: left;
}
th{
  font-size: 2em;
  font-weight: 300;
  color:white;
  text-align:center;
  background: rgb(255,240,102);
  background: linear-gradient(165deg, rgba(255,240,102,1) 0%, rgba(255,221,84,1) 0%, rgba(255,136,0,1) 0%);
}
td{
  font-size: 2em;
  font-weight: 900;
  color:rgb(117, 39, 0);
}


.rating {
	cursor: pointer;
}

.rating .rating-star {
	display: inline-block;
  position: relative;
  padding-right: 5px;
  margin-left: -5px;
  color: yellow;
}
.rating .selected:before {
  content: '\f005';
}
#fp-nav ul, .fp-slidesNav ul {
    position: relative;
    left: 40%;}

.stars {
position: relative;
left: -56%;
bottom: -77%;

}

.column {
  position: relative;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgb(204,237,148);
background: linear-gradient(48deg, rgba(204,237,148,1) 0%, rgba(112,187,22,1) 52%);

}

.column:hover .overlay {
  opacity: 85%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


footer {
  position:  relative;
right: 0;
bottom: 0;
left: 0;
display: flex;
    justify-content: center;
    align-items: center;
   width:100%;
   height:10%;
   background: rgb(255,240,102);
background: linear-gradient(165deg, rgba(255,240,102,1) 0%, rgba(255,136,0,1) 65%);
   text-align: center;

}

footer ul li a{
  font-size: 1em;
color:white;
margin: 2%;}
footer img.logo{bottom: 8%;
    position: relative;


    width: 8%;

}
footer ul{
  position: relative;
  bottom: 90%;
  width: 100%;
  list-style: none;
}
::-webkit-scrollbar{display: none;}
.aligned {
            display: flex;
            align-items: center;
        }

      .aligned  span {
            padding: 10px;
        }
.aligned{
  background: rgb(255,240,102);
background: linear-gradient(165deg, rgba(255,240,102,1) 0%, rgba(255,136,0,1) 65%);
  position: relative;
  top:-100vh;
  left:10vh;
  width: 90%;
  border-radius:15px;

}
.aligned img{
  width:20%;
  border-radius: 15px;
}
.row .column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  height:134vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 20vh;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title  {
  color: brown;
}
.mail {
  color: brown;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background: rgb(255,240,102);
background: linear-gradient(165deg, rgba(255,240,102,1) 0%, rgba(255,136,0,1) 65%);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-weight: 900;
  border-radius: 15px;
}

.button:hover {
background: orange;}




.zoom {
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}

.zoom:hover {
  filter: brightness(110%);
  transform: scale(1.3);
  z-index: 5000;
  position: relative;
}
.card h2{

  font-size: 3.5em;
left:0;
top:0;
    color: black;
    z-index: 200;
    position: relative;

}



footer {
  position:  relative;
right: 0;
bottom: -25vh;
left: 0;
display: flex;
    justify-content: center;
    align-items: center;
   width:100%;
   height:10%;
   background: rgb(255,240,102);
background: linear-gradient(165deg, rgba(255,240,102,1) 0%, rgba(255,136,0,1) 65%);
   text-align: center;

}

footer ul li a{
  font-size: 1em;
color:white;
margin: 2%;}
footer img.logo{bottom: 8%;
    position: relative;


    width: 8%;

}
footer ul{
  position: relative;
  bottom: 90%;
  width: 100%;
  list-style: none;
}
::-webkit-scrollbar{display: none;}


@media (min-width: 600px) and (max-width: 768px){
nav{
  width: 65%;
      left: -4%;
      top: -130px;
      position: relative;
      height: 60px;
      position: relative;
      text-align: center;
      letter-spacing: -0.5px;

    }

    ul li {
        width: 11%;}

        ul li a {

    padding: 11px 45px;

    font-size: 114%;
  }

  h3 {

      font-size: 100%;

  }
  .text1{
        top: -132vh;
  }
  .bean {

      top: -127vh;
  }
  img.beans {
      width: 7.8%;}

      .row {
    top: 111%;
}

.row .column{
  width: 50%;
  display: block;
}

.column img{
  width: 99%;
}






footer {
height:17vh;
    bottom: -150vh;}



footer ul li{
  width: 85px;

    left: -2%;

}

footer ul {

    bottom: 5%;
    width: 100%;

}

footer img.logo {
    bottom: 2%;
    left:3%;
    width: 15%;
}

}

@media (max-width: 599px){


.ham {
  position: absolute;
z-index: 1000;
top: 4%;
/* right: 20px; */
left: 82%;
width: 6%;
height: 61px;
border: none;
border-radius: 50% 50% 50% 50%;
cursor: pointer;
background-color: rgb(255 195 0);
/* background: linear-gradient(48deg, rgb(66 99 10) 0%, rgb(133 165 94) 52%); */
background-image: url(https://ljc-dev.github.io/testing0/ham.svg);
background-size: 100%;
}
button {
background: rgb(255 160 0);
background: linear-gradient(48deg, rgba(204,237,148,1) 0%, rgba(112,187,22,1) 52%);

 }


 .showClose {
   z-index: 1200;

   background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
 }

 .navbar {    opacity: 90%;
   /* position: absolute; */
   position: absolute; */
     z-index: 2000;
     top: -8%;
 left: -7%;
     background: linear-gradient(48deg, rgba(204,237,148,1) 0%, rgba(112,187,22,1) 52%);
     width: 108vw;
     height: 109%;
     overflow: hidden;
     color: white;
     transform: translateY(-120%);
     transition: transform 0.2s ease;}


 .showNav {
   z-index: 1000;
   transform: translateY(0);
 }


 .navbar ul {
   width: 100%;
height: 87%;
list-style: none;
display: flex;
flex-flow: column nowrap;

margin: 20% 0 0 -50%;
position: relative;
text-align: center;
left: 77%;
 }

 .navbar ul li a {
   color: white;
   padding-top: 50%;
   padding-bottom: 50%;
   border-bottom: 2px solid white;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
     font-size: 160%;
   align-items: center;
   font-weight: bold;
   padding: 33px 36px;

 }
 .navbar ul li {
     width: 17%;}


.navbar ul li a:hover {
   border-bottom: green;
     width: 300%;
 }

 .navbar a:hover{
   background-color: green;
 }
 ul li.sub a{
   display: none;
 }

footer{display:none;}
.ham{display: inherit;
    top: 4%;
    /* right: 20px; */
    left: 82%;
    width: 14%;
    height: 9%;

}

.message {

    width: 100%;
    height: 63vh;
    top: -63vh;



}


.bean {

    top: -132vh;
    left: 3%;
}


img.beans {
    width: 6.9%;
    padding: 1px;
}


.row {

    top: 107%;}

  .row .column{
    width: 100%;
    display: block;
        height: 140vh;
  }


    .text1 {

         column-count: 1;

        left: 1%;
        top: -134vh;

  }

  .text1 h3{font-size: 75%;}
  ul li ul.sub {

      left: 180%;}

}
